.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

#header{
    background: #070707;
    padding: 27px 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item:not(:last-child){
    margin-right: 35px;

}
.header-btn{
    margin-right: 15px;

}
